# Introduction to the Language
##### Section 1

### Episode 1: Hello World
Print allows the parameter sent into the function to be printed on the screen.

In [2]:
print('Hello, World!')

Hello, World!

Also you can use print function with given variable. Also we declared example of comment rows.

In [3]:
# Comment row No.1 Example.

"""
Comment row No.2 Example.
"""

var_name = 'Emir'
print(var_name)

Emir

### Episode 2: Variable Decleration and Data Types

> Python has full of advantages, one of them is variable declerations. You have no limits or rules while declaring the variables.

> Also we have 4 types of data types: as you see in code, in order integer, float, string, boolean.

> Variable declaring rules: Must start with a lowercase letter, variables first letter should start with ASCII characters, also, first letter should not start with a number.

> Also you can switch and convert variables as you see below.

In [4]:
x = 4
y = 2.0
z = "Hello, World!"
f = False

print(x,y,z,f)

x,y = y,x
print(x,y)

x = int(x)
y = float(y)

print(x,y)

4 2.0 Hello, World! False
2.0 4
2 4.0

> Also we can use builtin functions to access easily what we want. We are going to take a point on print, len, abs and input builtin functions.

In [7]:
print('Prints to the screen.')

var_len = len('chararray.')
print(var_len)

var_abs = abs(1-9)
print(var_abs)

var_name = input('Insert your name here: ')
var_age = int(input('Insert your age here: '))
print(var_name,var_age)

Prints to the screen.
10
8
Emir 20

### Episode 3: String Formatting and String Manipulating

> String manipulating and formatting codes will be shown below. There are four ways to format a text.

In [8]:
name = 'Emir'
age = 20

text0 = 'My name is' + ' ' + name + ' ' + 'and I am' + ' ' + str(age) + ' ' + 'years old.'
print(text0)

text1 = "My name is {} and I'm {} years old.".format(name, age)
print(text1)

text2 = "My name is {1} and I'm {0} years old.".format(age, name)
print(text2)

text3 = f"My name is {name} and I'm {age} years old."
print(text3)

My name is Emir and I am 20 years old.
My name is Emir and I'm 20 years old.
My name is Emir and I'm 20 years old.
My name is Emir and I'm 20 years old.

> text.upper(): Converts all characters to uppercase.

> text.lower(): Converts all characters to lowercase.

> text.capitalize(): Capitalizes only the first letter of the first word. If any of the other words in the sentence begin with a capital letter, it makes it smaller.

> text.title(): Capitalize but affects every word, uppercase doesn't make lowercase.

> text.strip(): Eliminates leading spaces in a string expression.

> text.split(): Splits the string expression into words. 

> text.split(): It separates the string expression according to the parameter we give it.

> text.replace(new, old)

> text.replace(' ', ''): Removes all spaces from the string expression.

> text.startswith(): A question is asked about how the text starts.

> text.endswith(): A question is asked about what texting ends with.

In [9]:
text = 'Formula One is one of the greatest sports has invented.'

result = text.upper()
result = text.lower()
result = text.capitalize() 
result = text.title()
result = text.strip()
result = text.split()
result = text.split('s')
result = text.replace('greatest', 'fascinating')
result = text.replace(' ', '')
result = text.startswith('p')
result = text.endswith('m')

result

False

### Episode 4: Lists, Tuples, Sets and Dictionaries

Part of lists, and how we are going to declare them. Also how we are going to use them?

In [10]:
element = 'AlphaTauri'
list_0 = ['Ferrari','Red Bull','Mercedes']
list_1 = ['Hass','Alpine','Alfa Romeo']
list_2 = ['Aston Martin','McLaren','Williams']

print(element,list_0,list_1,list_2)

AlphaTauri ['Ferrari', 'Red Bull', 'Mercedes'] ['Hass', 'Alpine', 'Alfa Romeo'] ['Aston Martin', 'McLaren', 'Williams']

Let's see the list methods like string methods.

> append(): Adds an element to the end of the list.

> insert(): Adds an element to specified position of the list.

> pop(): It is given the index number of any element in the list.

> remove(): Gives itself any element in the list.

> reverse(): Inverts the list.

> sort(): Sorts in ascending order.

In [11]:
list_0.append('Racing Point')
list_1.insert(0, 'Red Bull Racing')
list_1.pop(0)
list_0.remove('Racing Point')
list_2.reverse() 
list_2.sort()
index_number = list_2.index('Aston Martin')

print(f"Aston Martin's index number is: {index_number}")

Aston Martin's index number is: 0

Let's see the tuple lists also.

In [12]:
tuple_1 = ('Toto','Christian','Zak')
index = tuple_1.index('Toto')
print(index)

0

Type conversions between tuple and list. Notice that you can turn tuple into a list but you cannot turn tuple into a list.

In [13]:
tuple_1 = list(tuple_1)
print(tuple_1)

['Toto', 'Christian', 'Zak']

Also we need to notice set's, so what is sets? Basically sets are clusters.

In [14]:
a = {1,3,5,7,9,11}
b = {1,3,6,9,12}

# Combination Set
result = a | b
# Intersection Set
result = a & b 
# Difference Set
result = a - b
print(result)

"""
So we can remove duplicates from the list using set's,
cause as you know set's not allows duplicate values in it.
"""

liste = [1, 2, 2, 3, 3, 3]
liste = set(liste)
liste = list(liste)
print(liste)

{11, 5, 7}
[1, 2, 3]

For the last part of the notebook, we shall see the dictionaries.

In [15]:
person_0 = {
    "Name" : "Emir Yarkın",
    "Age" : 18,
    "Title" : "Student"
}

# Reaching the value using a specific key.
result = person_0["Name"]
# We can also update a dictionary using this.
person_0["Name"] = "Elon Musk"
# We can also delete a section of keys.
del person_0["Age"]
# We may get all the values using this.
result = person_0.values()
# Ereases the whole dataset.
person_0.clear()
print(person_0)

person_1 = {
    1000 : {
        "Name" : "Jeff Bezos",
        "Age" : 57,
        "Title" : "Amazon.com Founder"
    },
    1001 : {
        "Name" : "Elon Musk",
        "Age" : 49,
        "Title" : "SpaceX Founder"
    }
}

id= 1001
# In this kind multidictionaries, you should reach the id first.
result = person_1[id]["Name"]
print(result)

{}
Elon Musk