### Create a Dictionary with the information you get from the user and print this information on the screen.

In [1]:
x = str(input("Insert your name here: "))
y = int(input("Insert your age here: "))
z = str(input("Insert your favourite colour here: "))
person = {}
person["Name"] = x
person["Age"] = y
person["Favourite Colour"] = z
print(person)

{'Name': 'Emir', 'Age': 20, 'Favourite Colour': 'Black'}

### Order the 3 numbers you get from the user in ascending order.

In [2]:
liste = []
n1, n2, n3 = input("Write the 3 numbers you want to be compared side by side with a space in between: ").split()
n1, n2, n3 = int(n1), int(n2), int(n3)
liste.extend([n1, n2, n3])
x = max(liste)
y = min(liste)
liste.remove(max(liste))
liste.remove(min(liste))
print(f"{x} > {liste[0]} > {y}")

17 > 12 > 10

### Print a welcome message with the information you received from the user.

In [3]:
x = str(input("Insert your name here: "))
y = int(input("Insert your age here: "))
z = str(input("Insert your favourite colour here: "))
print(f"My name is {x}. I'm {y} years old. My favourite color is {z}.")

My name is Emir. I'm 20 years old. My favourite color is Black.

### Let's take a list with duplicates and print the deleted version of the duplicates.

In [4]:
liste = [0, 5, 5, 6, 6, 6, 7, 8, 45, 13, "e", "w", "w"]
liste = set(liste)
liste = list(liste)
print(liste)

[0, 5, 6, 7, 8, 45, 13, 'e', 'w']

### Create a list with the data you receive from the user, delete the end of the list.

In [7]:
liste = []
x, y, z = input("Enter data side by side with spaces between them: ").split()
x, y, z = str(x), str(y), str(z)
liste.extend([x,y,z])
print(f"Original list: {liste}")
liste.pop(len(liste)-1)
print(f"New list: {liste}")

Original list: ['9237', '3297', '373']
New list: ['9237', '3297']

### Convert the float data you received from the user to integer data and print it on the screen.

In [8]:
x = float(input("Enter a decimal number: "))
x = int(x)
print(x)

3

### Print the sent word specified times the function shown on the screen.

In [10]:
x = int(input("How many times should word to be printed?: "))

def func(word, count):
    print(word*count)
func("Python\n", x)

Python
Python
Python
Python
Python

### Convert the unlimited number of parameters sent to it into a list.

In [11]:
def func(*params):
    liste = []
    for i in params:
        liste.append(i)
    print(liste)
func(1, 5, 12, "Python", True)

[1, 5, 12, 'Python', True]

### We will find the prime numbers between the 2 numbers sent.

In [12]:
def func(n1, n2):
    for i in range(n1, n2):
        if i > 1:
            for j in range(2, i):
                if (i%j==0):
                    break
            else:
                print(i)
func(0, 100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Print the divisors of the number sent to him as a list on the screen.

In [13]:
def func(num):
    liste = []

    for i in range(2, num):
        if num%i==0:
            liste.append(i)
    return liste

print(func(120))

[2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60]

### Print a fitness message to an individual based on their body mass index.

In [15]:
height = float(input("Insert your height as meter: "))
weight = int(input("Insert your weight a kilogram: "))
bmi = (weight)/(height**2)

if 19.5 > bmi > 0:
    print("Skinny. | BMI : {0}".format(bmi))
elif 25.5 > bmi >= 19.5:
    print("Normal. | BMI : {0}".format(bmi))
elif 31.5 > bmi >= 25.5:
    print("Overweight. | BMI : {0}".format(bmi))
elif 100 >= bmi >= 31.5:
    print("Obese. | BMI : {0}".format(bmi))
else:
    print("Mistyped, try again!")

Normal. | BMI : 25.102391333069097

### Print a driving license check statement, you need over 18 years old and 75+ from the exam.

In [17]:
age = int(input("Insert your age: "))

if age >= 18:
    print("You are eligible to attend exam.")
    exam = int(input("Insert your score: "))
    if exam >= 75:
        print("You are eligible to recieve drivers' licence.")
    else:
        print("You are failed to pass the exam, try again.")
else:
    print("You have to be 18 or older to be eligible.")

You are eligible to attend exam.
You are eligible to recieve drivers' licence.

### Find multiples of 3 from the numbers in the list.

In [18]:
liste = [0,1,2,3,4,5,6,7,8,9,10]

for i in liste:
    if (i%3==0) and (i != 0):
        print(i)

3
6
9

### Find the sum of the numbers in the list by looping.

In [19]:
total = 0

for i in liste:
    total = total + i
print(total)

55

### Let's sort the numbers that we will receive from the user in a mixed way, from the largest to the smallest.

In [16]:
liste = []

for i in range(5):
    i = int(input("Insert: "))
    liste.append(i)

liste.sort()
liste.reverse()
print(liste)

[23, 23, 5, 4, 3]