In [1]:
import pandas as pd
import numpy as np

# Starting with Pandas Series

In [2]:
# Data Setting 1.

dictionary = {"A":1, "B":2, "C":3}
sr = pd.Series(dictionary)
print(f'{sr}\n')

# Data Setting 2.

numbers = [1,2,3]
letters = ["A", "B", "C"]
sr = pd.Series(numbers, letters)
print(f'{sr}\n')

# Data Settings 3.

numbers = np.random.randint(0,10,3)
letters = ["A","B","C"]
sr = pd.Series(numbers, letters)
print(f'{sr}\n')

# Setting the Series with Dictionaries.

dictionary = {"Name":["Lewis","Max","Sebastian","Fernando","Charles"],
              "Age":[37,25,34,42,23],
              "Wage": [50,50,15,25,15]}

sr = pd.Series(dictionary)
print(f'{sr}\n')

A    1
B    2
C    3
dtype: int64

A    1
B    2
C    3
dtype: int64

A    3
B    8
C    5
dtype: int64

Name    [Lewis, Max, Sebastian, Fernando, Charles]
Age                           [37, 25, 34, 42, 23]
Wage                          [50, 50, 15, 25, 15]
dtype: object

# Indexing the Pandas Series

In [4]:
# Column Methods.

print(sr.ndim)
print(sr.shape)
print(sr.sum())

# Column Indexing.

print(sr[1])
print(sr[-1])
print(sr[::])

1
(3,)
['Lewis', 'Max', 'Sebastian', 'Fernando', 'Charles', 37, 25, 34, 42, 23, 50, 50, 15, 25, 15]
[37, 25, 34, 42, 23]
[50, 50, 15, 25, 15]
Name    [Lewis, Max, Sebastian, Fernando, Charles]
Age                           [37, 25, 34, 42, 23]
Wage                          [50, 50, 15, 25, 15]
dtype: object

# File Input for Pandas
In pandas, read_{file_type} method is important for what kind of file we are importing.

In [5]:
file = pd.read_csv("goldenfoot.csv")

print(file)

   Year             Winner          Team  Goals
0  2011  Cristiano Ronaldo   Real Madrid     40
1  2012       Lionel Messi  FC Barcelona     50
2  2013       Lionel Messi  FC Barcelona     46
3  2014  Cristiano Ronaldo   Real Madrid     31
4  2015  Cristiano Ronaldo   Real Madrid     48
5  2016        Luis Suarez  FC Barcelona     40
6  2017       Lionel Messi  FC Barcelona     37
7  2018       Lionel Messi  FC Barcelona     34
8  2019       Lionel Messi  FC Barcelona     36
9  2020      Ciro Immobile    S.S. Lazio     36

# Introduction to the Dataframes

In [6]:
file = pd.read_csv("goldenfoot.csv")
df = pd.DataFrame(file)

# Prints the whole data.
print(df) 

# Prints the first x rows.
print(df.head(15))

# Prints the last x rows.
print(df.tail(15))

# Prints the whole columns as a list.
print(list(df.columns))

# Prints the whole row title's as a list.
print(list(df.index))

# Prints the whole values as a list and which values ordered in a spesific COLUMN given by a parameter. 
print(list(df["Winner"]))

# Prints the row and colun count of dataframe.
print(df.shape)

# Just prints the spesific column given by a parameter.
print(df["Winner"])

# Makes the spesific column's values into a numpy array.
print(df["Winner"].unique())

   Year             Winner          Team  Goals
0  2011  Cristiano Ronaldo   Real Madrid     40
1  2012       Lionel Messi  FC Barcelona     50
2  2013       Lionel Messi  FC Barcelona     46
3  2014  Cristiano Ronaldo   Real Madrid     31
4  2015  Cristiano Ronaldo   Real Madrid     48
5  2016        Luis Suarez  FC Barcelona     40
6  2017       Lionel Messi  FC Barcelona     37
7  2018       Lionel Messi  FC Barcelona     34
8  2019       Lionel Messi  FC Barcelona     36
9  2020      Ciro Immobile    S.S. Lazio     36
   Year             Winner          Team  Goals
0  2011  Cristiano Ronaldo   Real Madrid     40
1  2012       Lionel Messi  FC Barcelona     50
2  2013       Lionel Messi  FC Barcelona     46
3  2014  Cristiano Ronaldo   Real Madrid     31
4  2015  Cristiano Ronaldo   Real Madrid     48
5  2016        Luis Suarez  FC Barcelona     40
6  2017       Lionel Messi  FC Barcelona     37
7  2018       Lionel Messi  FC Barcelona     34
8  2019       Lionel Messi  FC Barcelona     36
9  2020      Ciro Immobile    S.S. Lazio     36
   Year             Winner          Team  Goals
0  2011  Cristiano Ronaldo   Real Madrid     40
1  2012       Lionel Messi  FC Barcelona     50
2  2013       Lionel Messi  FC Barcelona     46
3  2014  Cristiano Ronaldo   Real Madrid     31
4  2015  Cristiano Ronaldo   Real Madrid     48
5  2016        Luis Suarez  FC Barcelona     40
6  2017       Lionel Messi  FC Barcelona     37
7  2018       Lionel Messi  FC Barcelona     34
8  2019       Lionel Messi  FC Barcelona     36
9  2020      Ciro Immobile    S.S. Lazio     36
['Year', 'Winner', 'Team', 'Goals']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['Cristiano Ronaldo', 'Lionel Messi', 'Lionel Messi', 'Cristiano Ronaldo', 'Cristiano Ronaldo', 'Luis Suarez', 'Lionel Messi', 'Lionel Messi', 'Lionel Messi', 'Ciro Immobile']
(10, 4)
0    Cristiano Ronaldo
1         Lionel Messi
2         Lionel Messi
3    Cristiano Ronaldo
4    Cristiano Ronaldo
5          Luis Suarez
6         Lionel Messi
7         Lionel Messi
8         Lionel Messi
9        Ciro Immobile
Name: Winner, dtype: object
['Cristiano Ronaldo' 'Lionel Messi' 'Luis Suarez' 'Ciro Immobile']

# Mergin, Concatting the Pandas Dataframes

In [7]:
file1 = pd.read_csv("merge1.csv")
file2 = pd.read_csv("merge2.csv")
file3 = pd.read_csv("merge3.csv")

df1 = pd.DataFrame(file1)
df2 = pd.DataFrame(file2)
df3 = pd.DataFrame(file3)

# DataFrame Append Method for Common Columns.
result = pd.merge(df1, df3, how="outer")
print(result)

# DataFrame Column Append Method.
result = pd.concat([df1,df2], axis = 1)
print(result)

# DataFrame Column Append Method with Outer Append for Missing Features. 
result = pd.concat([df1,df2])
print(result)

                          Title  Price  Stock
0           MSI Nvidia RTX 3090  98000     11
1                   Samsung S21  15000     24
2             Apple AirPods Pro   2050     86
3              JBL Live 650BTNC   1300     42
4  Razer Basilisk V2 Hypershift    500     96
5                MSI Vigor GK30    370     57
                 Title  Price  Stock  UserRate  DiscountRate
0  MSI Nvidia RTX 3090  98000     11        99             0
1          Samsung S21  15000     24        84            12
2    Apple AirPods Pro   2050     86        92            18
                 Title    Price  Stock  UserRate  DiscountRate
0  MSI Nvidia RTX 3090  98000.0   11.0       NaN           NaN
1          Samsung S21  15000.0   24.0       NaN           NaN
2    Apple AirPods Pro   2050.0   86.0       NaN           NaN
0                  NaN      NaN    NaN      99.0           0.0
1                  NaN      NaN    NaN      84.0          12.0
2                  NaN      NaN    NaN      92.0          18.0

# Classifying the Features Using 'groupby()' Method
Creating a new dataset which rows are not spesific column's values given as a parameter.

In [8]:
df = pd.DataFrame(pd.read_csv("goldenfoot.csv"))
data = df.groupby("Year")
print(data.min())

                 Winner          Team  Goals
Year
2011  Cristiano Ronaldo   Real Madrid     40
2012       Lionel Messi  FC Barcelona     50
2013       Lionel Messi  FC Barcelona     46
2014  Cristiano Ronaldo   Real Madrid     31
2015  Cristiano Ronaldo   Real Madrid     48
2016        Luis Suarez  FC Barcelona     40
2017       Lionel Messi  FC Barcelona     37
2018       Lionel Messi  FC Barcelona     34
2019       Lionel Messi  FC Barcelona     36
2020      Ciro Immobile    S.S. Lazio     36

# Filtering the Features Using 'loc' and 'iloc'

In [9]:
file = pd.read_csv("goldenfoot.csv")
df = pd.DataFrame(file)

# LOC takes STRING
# ILOC takes INTEGER

# Print's the whole information about spesific index given as a parameter with string type.
print(df.iloc[1])

# Print's the informations about spesific indexes given as a paramater with df type.
print(df.iloc[0:2])

# Making a groupby operation to the DataFrame using 'loc' effectively.
df = df.groupby("Year").min()

# Print's the whole information about spesific index given as a parameter with df type.
print(df.loc[2011])

# Print's the informations about spesific indexes given as a paramater with df type.
print(df.loc[2011:2013])

Year              2012
Winner    Lionel Messi
Team      FC Barcelona
Goals               50
Name: 1, dtype: object
   Year             Winner          Team  Goals
0  2011  Cristiano Ronaldo   Real Madrid     40
1  2012       Lionel Messi  FC Barcelona     50
Winner    Cristiano Ronaldo
Team            Real Madrid
Goals                    40
Name: 2011, dtype: object
                 Winner          Team  Goals
Year
2011  Cristiano Ronaldo   Real Madrid     40
2012       Lionel Messi  FC Barcelona     50
2013       Lionel Messi  FC Barcelona     46

# Advanced Dataframe Operations

In [10]:
file = pd.read_csv("goldenfoot.csv")
df = pd.DataFrame(file)
data = df.groupby("Year").min()

# Sorting values according to a specific column which givan as a parameter.
print(data.sort_values("Goals", ascending=False), "\n")

# Finding the max value according to a specific column which givan as a parameter.
print(data["Goals"].max(), "\n")

# Finding the min value of the specific column which givan as a parameter.
print(data["Goals"].min(), "\n")

# Summing the whole value according to a specific column which givan as a parameter.
print(data["Goals"].sum(), "\n")

# Finding the mean value of the specific column which givan as a parameter.
print(data["Goals"].mean(), "\n")

# Counting the value of the specific column which givan as a parameter.
print(data["Goals"].count(), "\n")

# Sorting the indexing with using ascending=True. 
print(data.sort_index(), "\n")

# Getting the row which has the MOST GOALS.
record = data.loc[data["Goals"] == data["Goals"].max()]
print(record)

# Data Analysis Return

string = f'\nIn the last decade; {list(record["Winner"])[0]} scored {list(record["Goals"])[0]} goals in a single season {list(record["Team"])[0]} in the league.\nThat makes {list(record["Winner"])[0]} had the record which is most goals in a single season recorded at his domestic league.'
print(string)

# Data Analysis Return II

string = f"\nTotal goals by award winners in the last decade:\n"
print(string)
soccer_list = list(set(list(df["Winner"])))
dictionary = {}
for i in soccer_list:
    dictionary[i] = data.loc[data['Winner'] == i]['Goals'].sum()

serie = pd.Series(dictionary)
print(serie.sort_values(ascending=False))

                 Winner          Team  Goals
Year
2012       Lionel Messi  FC Barcelona     50
2015  Cristiano Ronaldo   Real Madrid     48
2013       Lionel Messi  FC Barcelona     46
2011  Cristiano Ronaldo   Real Madrid     40
2016        Luis Suarez  FC Barcelona     40
2017       Lionel Messi  FC Barcelona     37
2019       Lionel Messi  FC Barcelona     36
2020      Ciro Immobile    S.S. Lazio     36
2018       Lionel Messi  FC Barcelona     34
2014  Cristiano Ronaldo   Real Madrid     31

50

31

398

39.8

10

                 Winner          Team  Goals
Year
2011  Cristiano Ronaldo   Real Madrid     40
2012       Lionel Messi  FC Barcelona     50
2013       Lionel Messi  FC Barcelona     46
2014  Cristiano Ronaldo   Real Madrid     31
2015  Cristiano Ronaldo   Real Madrid     48
2016        Luis Suarez  FC Barcelona     40
2017       Lionel Messi  FC Barcelona     37
2018       Lionel Messi  FC Barcelona     34
2019       Lionel Messi  FC Barcelona     36
2020      Ciro Immobile    S.S. Lazio     36

            Winner          Team  Goals
Year
2012  Lionel Messi  FC Barcelona     50

In the last decade; Lionel Messi scored 50 goals in a single season FC Barcelona in the league.
That makes Lionel Messi had the record which is most goals in a single season recorded at his domestic league.

Total goals by award winners in the last decade:

Lionel Messi         203
Cristiano Ronaldo    119
Luis Suarez           40
Ciro Immobile         36
dtype: int64