In [1]:
import pandas as pd
dictionary = {"NAME":["ali","veli","kenan","hilal","ayse","evren"],
              "AGE":[15,16,17,33,45,66],
              "MAAS": [100,150,240,350,110,220]}

df = pd.DataFrame(dictionary)
head = df.head()
tail = df.tail()
print(head)

    NAME  AGE  MAAS
0    ali   15   100
1   veli   16   150
2  kenan   17   240
3  hilal   33   350
4   ayse   45   110

In [2]:
print(df.columns)
print(df.info())
print(df.dtypes)
print(df.describe())  # numeric feature = columns (age,maas)

Index(['NAME', 'AGE', 'MAAS'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    6 non-null      object
 1   AGE     6 non-null      int64
 2   MAAS    6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes
None
NAME    object
AGE      int64
MAAS     int64
dtype: object
             AGE        MAAS
count   6.000000    6.000000
mean   32.000000  195.000000
std    20.474374   94.815611
min    15.000000  100.000000
25%    16.250000  120.000000
50%    25.000000  185.000000
75%    42.000000  235.000000
max    66.000000  350.000000

In [3]:
print(df["AGE"])
print(df.AGE)

0    15
1    16
2    17
3    33
4    45
5    66
Name: AGE, dtype: int64
0    15
1    16
2    17
3    33
4    45
5    66
Name: AGE, dtype: int64

In [4]:
df["yeni feature"] = [-1,-2,-3,-4,-5,-6]

In [5]:
print(df.loc[:, "AGE"])
print(df.loc[:3, "AGE"])
print(df.loc[:3, "AGE":"NAME"])
print(df.loc[:3, ["AGE","NAME"]])
print(df.loc[::-1,:])
print(df.loc[:,:"NAME"])
print(df.loc[:,"NAME"])
print(df.iloc[:,2])

0    15
1    16
2    17
3    33
4    45
5    66
Name: AGE, dtype: int64
0    15
1    16
2    17
3    33
Name: AGE, dtype: int64
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
   AGE   NAME
0   15    ali
1   16   veli
2   17  kenan
3   33  hilal
    NAME  AGE  MAAS  yeni feature
5  evren   66   220            -6
4   ayse   45   110            -5
3  hilal   33   350            -4
2  kenan   17   240            -3
1   veli   16   150            -2
0    ali   15   100            -1
    NAME
0    ali
1   veli
2  kenan
3  hilal
4   ayse
5  evren
0      ali
1     veli
2    kenan
3    hilal
4     ayse
5    evren
Name: NAME, dtype: object
0    100
1    150
2    240
3    350
4    110
5    220
Name: MAAS, dtype: int64

In [6]:
filtre1 = df.MAAS > 200
filtrelenmis_data = df[filtre1]
filtre2 = df.AGE <20
df[filtre1 & filtre2]
print(df[df.AGE > 60])

    NAME  AGE  MAAS  yeni feature
5  evren   66   220            -6

In [7]:
import numpy as np

ortalama_maas = df.MAAS.mean()
# ortalama_maas_np = np.mean(dataFrame1.MAAS)
df["maas_seviyesi"] = ["dusuk" if ortalama_maas > each else "yuksek" for each in df.MAAS]
df

    NAME  AGE  MAAS  yeni feature maas_seviyesi
0    ali   15   100            -1         dusuk
1   veli   16   150            -2         dusuk
2  kenan   17   240            -3        yuksek
3  hilal   33   350            -4        yuksek
4   ayse   45   110            -5         dusuk
5  evren   66   220            -6        yuksek

In [8]:
dataFrame1.drop(["yeni_feature"],axis=1,inplace = True)
data1 = dataFrame1.head()
data2 = dataFrame1.tail()

data_concat = pd.concat([data1,data2],axis=0)# vertical

NameError: name 'dataFrame1' is not defined

In [9]:
maas = dataFrame1.maas
age = dataFrame1.age

data_h_concat = pd.concat([maas,age],axis=1)

NameError: name 'dataFrame1' is not defined

In [10]:
def multiply(age):
    return age*2
df["apply_metodu"] = df.AGE.apply(multiply)